doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    title sketch-glass
    link(rel='stylesheet', href='./assets/normalize.css')
    link(rel='stylesheet', href='./index.css')
  body
    script(src='./bundle.js')
    main.sg-canvas
    aside.sg-sidebar
      input.sg-search(placeholder="Search")
      .sg-canvas-cell
        .thumbnail
        p.title Design sketch
        p.updated-at 2 days ago
      button.sg-button-sidebar
