.force-layer {
  transform: translateZ(0);
}

.sg-list-view {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.sg-loading-bar {
  @bar-width: 200px;
  @bar-height: 2px;
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: @bar-height;
  opacity: 1;

  &::before {
    content: "";
    background-color: #57a4ff;
    display: block;
    position: absolute;
    width: @bar-width;
    height: @bar-height;
    top: 0;
    left: 0;
    animation: loading 1s linear infinite;

    @keyframes loading {
      from {
        transform: translateX(-@bar-width);
      }
      to {
        transform: translateX(100vw);
      }
    }
  }

  &[hidden] {
    display: block;
    opacity: 0;
    transition: opacity 0.2s linear;
  }
}

.sg-canvas {
  cursor: crosshair;
  flex: 1;
  position: absolute;
  transform-origin: 0 0;

  &.dragging {
    cursor: all-scroll;
  }
}

.sg-sidebar {
  @sidebar-width: 250px;
  width: 0;
  height: 100vh;
  top: 0;
  position: absolute;
  overflow: hidden;
  background-color: #252526;
  transition: width 0.2s ease;

  &.left {
    left: 0;
    box-shadow: inset -8px 0px 10px -10px rgba(0,0,0,0.5);

    &.open {
      > .sg-icon-array {
        left: @sidebar-width + 15px;
      }
    }
    > .sg-icon-array {
      left: 15px;
    }
  }

  &.right {
    right: 0;
    box-shadow: inset 8px 0px 10px -10px rgba(0,0,0,0.5);

    &.open {
      > .sg-icon-array {
        right: @sidebar-width + 15px;
      }
    }
    > .sg-icon-array {
      right: 15px;
    }
  }

  &.open {
    width: @sidebar-width;
  }

  > .sg-icon-array {
    position: fixed;
    top: 15px;
    transition: left 0.2s ease;
    transition: right 0.2s ease;
  }

  .sg-sidebar-content {
    position: absolute;
    top: 0; left: 0;
    height: 100vh; width: @sidebar-width;
    .force-layer();
    display: flex;
    flex-direction: column;
    .sg-list-view {
      flex: 1;
    }
  }

  .user-header {
    height: 80px;
    display: flex;
    align-items: center;
    .avatar {
      width: 32px;
      height: 32px;
      margin: 0 24px;
      border-radius: 16px;
    }
    h1 {
      color: white;
      flex: 1;
      margin: 0;
      font-size: 20px;
      font-weight: normal;
      line-height: 32px;
      vertical-align: middle;
    }
  }

  .canvases-header {
    display: flex;
    align-items: center;
    height: 32px;
    width: 100%;
    h2 {
      justify-content: flex-start;
      margin: 0 16px;
      flex: 1;
      color: white;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: normal;
    }
    button {
      justify-content: flex-end;
      margin: 0 8px;
      border: none;
      outline: none;
      background: none;
      color: white;
      font-size: 24px;
    }
  }

  .sg-search {
    @margin: 16px;
    @padding-h: 16px;
    @padding-v: 8px;
    @whole-height: 32px;
    width: @sidebar-width - @margin * 2 - @padding-h * 2;
    height: @whole-height - @padding-v * 2;
    border-radius: @whole-height * 0.5;
    border-style: none;
    background-color: #F0F0F0;
    margin: @margin;
    padding: @padding-v @padding-h;
    outline: none;
    font-size: 14px;
  }

  .canvas-list {
    margin-top: 8px;
  }

  .sg-canvas-cell {
    &.selected {
      background-color: #3D3E3F;
      border-left: 4px solid #1568C9;
    }
    &:hover {
      background-color: #2D2E30;
    }
    border-left: 4px solid transparent;
    color: white;
    height: 80px;
    display: flex;
    align-items: center;

    .thumbnail {
      width: 48px;
      height: 36px;
      margin: 0 18px;
      background-color: white;
      border: 1px solid #979797;
    }
    .info {
      .title {
        margin: 0;
        font-size: 16px;
      }
      .updated-at {
        margin: 0;
        font-size: 12px;
        color: #CDCDCD;
      }
    }
  }
}


@font-face {
  font-family: 'sg-icon';
	src:url('./fonts/sg-icon.eot');
	src:url('./fonts/sg-icon.eot') format('embedded-opentype'),
		url('./fonts/sg-icon.ttf') format('truetype'),
		url('./fonts/sg-icon.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.iconfont(@codepoint) {
  &::before {
    content: @codepoint;
    font-family: 'sg-icon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.sg-button {
  @icon-size: 32px;
  @border-width: 2px;
  @color: #7F7F7F;
  @hover-color: #5F5F5F;

  &::before {
    line-height: @icon-size;
    font-size: @icon-size;
    text-align: center;
    vertical-align: middle;
    width: @icon-size;
    height: @icon-size;
    position: absolute;
    top: -@border-width;
    left: -@border-width;
  }
  position: relative;
  width: @icon-size;
  height: @icon-size;
  border: @border-width solid @color;
  border-radius: @icon-size * 0.5;
  background-color: white;
  color: @color;
  outline: none;
  margin: 0;
  padding: 0;
  .force-layer();

  &:hover {
    border-color: @hover-color;
    color: @hover-color;
  }
  &.checked {
    background-color: @color;
    color: white;
  }
  &.checked:hover {
    background-color: @hover-color;
  }

  &.pen {
    .iconfont('\EA04');
  }

  &.eraser {
    .iconfont('\EA01');
  }

  &.info {
    .iconfont('\EA02');
  }

  &.user {
    .iconfont('\EA05');
  }

  &.sidebar {
    .iconfont('\EA03');
  }

  &.redo {
    .iconfont('\EA08');
  }

  &.undo {
    .iconfont('\EA09');
  }
}

.sg-color-button {
  .color {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: auto;
  }
}

.sg-icon-array {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;

  > * {
    pointer-events: auto;
    margin: 0 5px !important;
  }
}

.sg-palette {
  .sg-icon-array();
  position: absolute;
  left: 0;
  right: 0;
  top: 15px;
}

.sg-info-buttons {
  .sg-icon-array();

  position: absolute;
  right: 15px;
  top: 15px;
}

.sg-login-dialog {
  position: absolute;
  top: 0; left: 0; width: 100vw; height: 100vh;
  background-color: rgba(0,0,0,0.1);

  .dialog {
    background-color: white;
    position: absolute;
    width: 600px;
    height: 300px;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
    text-align: center;
    h1 {
      font-size: 24px;
      color: #222325;
      font-weight: normal;
      width: 100%;
      margin-top: 72px;
      margin-bottom: 72px;
    }
    button {
      display: inline-block;
      background-color: #FF4503;
      height: 40px;
      font-size: 18px;
      padding-left: 40px;
      padding-right: 40px;
      color: white;
      border: none;
      outline: none;
    }
  }
}

html, body {
  margin: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  font-family: "Avenir Next", "Open Sans", sans-serif !important;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-font-smoothing: antialiased;
}
