.force-layer {
  transform: translateZ(0);
}

.sg-canvas {
  cursor: crosshair;
  flex: 1;
  position: absolute;
  transform-origin: 0 0;
}

.sg-sidebar {
  @sidebar-width: 200px;
  width: 0;
  height: 100vh;
  top: 0;
  left: 0;
  position: relative;
  background-color: #34383D;
  box-shadow: inset -8px 0px 10px -10px rgba(0,0,0,0.5);
  transition: width 0.2s ease;

  &.open {
    width: @sidebar-width;
    .sg-button.sidebar {
      position: absolute;
      top: 15px;
      left: @sidebar-width + 15px;
    }
  }
  .sg-button.sidebar {
    position: absolute;
    top: 15px;
    left: 15px;
    transition: left 0.2s ease;
  }

  .sg-sidebar-clip {
    position: absolute;
    overflow: hidden;
    top: 0; left: 0; bottom: 0; right: 0;
  }

  .sg-sidebar-content {
    position: absolute;
    top: 0; left: 0;
    height: 100vh; width: @sidebar-width;
    .force-layer();
  }

  .sg-search {
    @margin: 20px;
    @padding-h: 16px;
    @padding-v: 8px;
    @whole-height: 32px;
    width: @sidebar-width - @margin * 2 - @padding-h * 2;
    height: @whole-height - @padding-v * 2;
    border-radius: @whole-height * 0.5;
    border-style: none;
    background-color: #F0F0F0;
    margin: @margin;
    padding: @padding-v @padding-h;
    outline: none;
    font-size: 14px;
  }

  .sg-canvas-cell {
    background-color: #00A896;
    padding: 20px;
    color: white;

    .thumbnail {
      width: 160px;
      height: 120px;
      background-color: white;
      border: 1px solid #979797;
    }
    .title {
      margin-top: 15px;
      margin-bottom: 5px;
      font-size: 16px;
    }
    .updated-at {
      margin-top: 5px;
      margin-bottom: 0;
      font-size: 14px;
      font-weight: lighter;
    }
  }
}


@font-face {
  font-family: 'sg-icon';
	src:url('./fonts/sg-icon.eot');
	src:url('./fonts/sg-icon.eot') format('embedded-opentype'),
		url('./fonts/sg-icon.ttf') format('truetype'),
		url('./fonts/sg-icon.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.iconfont(@codepoint) {
  &::before {
    content: @codepoint;
    font-family: 'sg-icon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.sg-button {
  @icon-size: 32px;
  @border-width: 2px;
  @color: #7F7F7F;
  @hover-color: #5F5F5F;

  &::before {
    line-height: @icon-size;
    font-size: @icon-size;
    text-align: center;
    vertical-align: middle;
    width: @icon-size;
    height: @icon-size;
    position: absolute;
    top: -@border-width;
    left: -@border-width;
  }
  position: relative;
  width: @icon-size;
  height: @icon-size;
  border: @border-width solid @color;
  border-radius: @icon-size * 0.5;
  background-color: white;
  color: @color;
  outline: none;
  margin: 0;
  padding: 0;
  .force-layer();

  &:hover {
    border-color: @hover-color;
    color: @hover-color;
  }
  &.checked {
    background-color: @color;
    color: white;
  }
  &.checked:hover {
    background-color: @hover-color;
  }

  &.pen {
    .iconfont('\EA04');
  }

  &.eraser {
    .iconfont('\EA01');
  }

  &.info {
    .iconfont('\EA02');
  }

  &.user {
    .iconfont('\EA05');
  }

  &.sidebar {
    .iconfont('\EA03');
  }
}

.sg-icon-array {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;

  > * {
    pointer-events: auto;
    margin: 0 5px !important;
  }
}

.sg-palette {
  .sg-icon-array();
  position: absolute;
  left: 0;
  right: 0;
  top: 15px;
}

.sg-info-buttons {
  .sg-icon-array();

  position: absolute;
  right: 15px;
  top: 15px;
}

html, body {
  margin: 0px;
  width: 100%;
  height: 100%;
  font-family: "Avenir Next", "Open Sans", sans-serif !important;
}
