.sg-canvas {
  cursor: crosshair;
  flex: 1;
  position: absolute;
  width: 100vw;
  height: 100vh;
}
.sg-canvas .renderer {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}
.sg-sidebar {
  width: 200px;
  height: 100vh;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #34383D;
  box-shadow: inset -8px 0px 10px -10px rgba(0, 0, 0, 0.5);
}
.sg-sidebar .sg-search {
  width: 128px;
  height: 16px;
  border-radius: 16px;
  border-style: none;
  background-color: #F0F0F0;
  margin: 20px;
  padding: 8px 16px;
  outline: none;
  font-size: 14px;
}
.sg-sidebar .sg-canvas-cell {
  background-color: #00A896;
  padding: 20px;
  color: white;
}
.sg-sidebar .sg-canvas-cell .thumbnail {
  width: 160px;
  height: 120px;
  background-color: white;
  border: 1px solid #979797;
}
.sg-sidebar .sg-canvas-cell .title {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 16px;
}
.sg-sidebar .sg-canvas-cell .updated-at {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: lighter;
}
html,
body {
  margin: 0px;
  width: 100%;
  height: 100%;
  font-family: "Avenir Next", "Open Sans", sans-serif !important;
}
